# SQL Questions
- Retrieve the top 5 customers with the highest total order amounts:
- Calculate the average revenue per day for each month in the year:
- Retrieve the customers who have placed at least 3 orders in a single day:

Certainly! Here are some SQL queries that involve the `IN` operator, which you might encounter in an interview:

1. Retrieve all orders placed by customers with IDs 1, 3, and 5:
```sql
SELECT *
FROM orders
WHERE customer_id IN (1, 3, 5);
```

2. Find all products with prices greater than 50 that are in the category 'Electronics':
```sql
SELECT *
FROM products
WHERE category = 'Electronics' AND price > 50;
```

3. Retrieve all employees whose job titles are either 'Manager' or 'Supervisor':
```sql
SELECT *
FROM employees
WHERE job_title IN ('Manager', 'Supervisor');
```

4. Find all orders with order IDs that match any of the order IDs in a subquery:
```sql
SELECT *
FROM orders
WHERE order_id IN (SELECT order_id FROM order_details WHERE product_id = 123);
```

5. Retrieve all customers who have placed orders with quantities greater than 10:
```sql
SELECT *
FROM customers
WHERE customer_id IN (SELECT customer_id FROM orders WHERE quantity > 10);
```

6. Find all products that have been discontinued and are not in stock:
```sql
SELECT *
FROM products
WHERE product_id IN (SELECT product_id FROM inventory WHERE stock_quantity = 0)
  AND discontinued = 1;
```

7. Retrieve all employees who are not in the department 'Sales' or 'Marketing':
```sql
SELECT *
FROM employees
WHERE department NOT IN ('Sales', 'Marketing');
```

8. Find all orders where the order date is either in January or December of any year:
```sql
SELECT *
FROM orders
WHERE EXTRACT(MONTH FROM order_date) IN (1, 12);
```

These queries demonstrate the usage of the `IN` operator to filter records based on a list of values or a subquery. Make sure to adjust the table and column names according to your specific database schema.

# HTTP Status Code